<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <title>BJJ Tracking App - Class Stats</title>
      <%- include('./partials/head'); %>
  </head>
  <header>
  <%- include('./partials/header'); %>
  </header>

  <h1>Class Stats</h1>
  <body>

    <table>
        <tr>
            <th>Class Name</th>
            <th>Times Attended</th>
        </tr>
        <tr>
            <td>101 Class</td>
            <td><%= totalClassCount; %></td>
        </tr>
        <tr>
            <td>All Levels</td>
            <td><%= x101Class; %></td>
        </tr>
        <tr>
            <td>Competitions</td>
            <td><%= compClass; %></td>
        </tr>
        <tr>
            <td>Total Classes Attended</td>
            <td><%= totalClassCount; %></td>
        </tr>
    </table>
    
  </body>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</html>