<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <title>BJJ Tracking App - Class Stats</title>
      <%- include('./partials/head'); %>
  </head>
  <header>
  <%- include('./partials/header'); %>
  </header>

  <h1>Class Stats</h1>
  <body>

    <p>Number of Classes Attended: <%= class101Count; %></p>
    <p>Number of 101 Classes Attended: <%= class101Count; %></p>

  </body>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</html>